@model ManagingSales.Models.ETicketUploadsViewModel

@{
    ViewBag.Title = $"Upload E-Tickets - Sale {Model.Sale.Id}";
}

<h2>@Model.Sale.Status</h2>

@if (Model.ETickets.Any())
{
    <div>
        <hr />
        <h3>Uploads</h3>

        @using (Html.BeginForm("Index", "ETickets", FormMethod.Post, new {id = "saveTicketsForm"}))
        {
            @Html.ListBoxFor(m => m.ETickets, Model.ETickets, new { @class = "form-control", @Name = "selectedFiles" })
            <p class="help-block">Select the E-Tickets to assign to the @Model.Sale.NumberOfTickets ticket(s)</p>
            @Html.HiddenFor(m => m.Sale.Id, new { @Name = "saleId" })
            <button type="submit" class="btn btn-primary">Save E-Tickets</button>
        }
    </div>
}

<div>
    <hr />
    @using (Html.BeginForm("Upload", "ETickets", FormMethod.Post, new {id = "uploadForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <input name="eticketFile" type="file" />
        <p class="help-block">Upload a PDF file containing your E-Tickets.</p>

        @Html.HiddenFor(m => m.Sale.Id, new { @Name = "saleId" })
        <button type="submit" class="btn btn-default">Upload</button>
    }
</div>