@using GogoKit.Models.Response;

@model PagedResource<Sale>
@{
    ViewBag.Title = "Manage Sales";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sale ID</th>
            <th>Sale Date</th>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>No. of Tickets</th>
            <th>Proceeds</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in @Model.Items)
        {
            <tr>
                <th scope="row">@sale.Id</th>
                <td>@sale.CreatedAt.Value.ToString("g")</td>
                <td>@sale.Event.Name</td>
                <td>@sale.Event.StartDate.Value.ToString("g")</td>
                <td>@sale.NumberOfTickets</td>
                <td>@sale.Proceeds.Display</td>
            </tr>
        }
    </tbody>
</table>